<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>CFBundleName</key>                 <string>UserDoc</string>
  <key>CFBundleDisplayName</key>          <string>UserDoc</string>
  <key>CFBundleIdentifier</key>           <string>com.yourdomain.userdoc</string>
  <key>CFBundleVersion</key>              <string>1.0.0</string>
  <key>CFBundleShortVersionString</key>   <string>1.0.0</string>
  <key>CFBundleExecutable</key>           <string>userdoc</string>
  <key>CFBundlePackageType</key>          <string>APPL</string>
  <key>LSMinimumSystemVersion</key>       <string>11.0</string>
  <key>LSApplicationCategoryType</key>    <string>public.app-category.productivity</string>
  <key>NSHighResolutionCapable</key>      <true/>
  <key>NSMicrophoneUsageDescription</key> <string>App needs microphone if you record audio.</string>
 </dict>
</plist>
